* {
    font-size: 13px;
}

QPushButton {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Noto sans";
}

QToolButton {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
}

QLabel {
    height: 30px;
}

QLineEdit {
    height: 30px;
    padding: 0px;
}

ElidedLabel {
    height: 30px;
    padding: 0px;
}
